@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Parkinsans:wght@300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bglight: 212 212 216;
  --secondarybglight: 161 161 170;
  --textlight: 51 51 51;
  --primarylight: 0 123 255;
  --secondarylight: 108 117 125;
  --accentlight: 20 184 166;          /* teal-500 */
  --accenthoverlight: 15 118 110;     /* teal-700 */
  --borderlight: 115 115 115;
  --errorlight: 207 102 121;
  
  font-family: 'Alegreya Sans', sans-serif;
}

.dark{
  --bgdark: 23 23 23;
  --secondarybgdark: 38 38 38;
  --textdark: 255 255 255;
  --primarydark: 187 134 252;
  --secondarydark: 3 218 198;
  --accentdark: 239 68 68;
  --accenthoverdark: 185 28 28;
  --borderdark: 115 115 115;
  --errordark: 207 102 121;

  font-family: 'Alegreya Sans', sans-serif;
}

html, body, #root {
  @apply bg-[rgb(var(--bglight))] dark:bg-[rgb(var(--bgdark))];
  scrollbar-width: none;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Animation for rotating gradient */
@keyframes rotate-gradient {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 50% 0%;
  }

  75% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 50%;
  }
}